body * {
	font-family: 'Open Sans', sans-serif;
	box-sizing: border-box;
	font-size: 16px;
}

header {
	background-color: lightgrey;
	padding: 10px 20px;
}

.navbar {
	position: absolute;
	top: 15px;
	right: 20px;
	position: fixed;
}

.nav-logo h1 {
	font-size: 1.5em;
	display: inline-block;
	margin: 0;
	vertical-align: middle;
	color: black;
}

.navbar ul, .navbar ul li {
	display: inline-block;
	margin: 0;
}

.nav-item a {
	font-size: 18px;
	text-decoration: none;
	margin-left: 15px;
}

.nav-item a:hover {
	transition: color 0.4s;
	color: blue;
}

main {
	max-width: 1100px;
	margin: 0 auto;
	padding: 30px 50px;
}

.wrapper {
	margin-bottom: 30px;
}

label {
	display: block;
}

.search {
	width: 40%;
	vertical-align: middle;
	border: 1px solid lightgrey;
	padding: 2px;
	border-radius: 2px;
}

.search-submit {
	width: 28px;
	height: 28px;
	vertical-align: middle;
	border: 1px solid lightgrey;
	border-radius: 2px;
}

.pagination-wrapper {
	font-size: 0;
}

.page-item {
	margin: 0;
	display: inline-block;
	font-size: 16px;
	color: black;
	text-decoration: none;
}

.current-page {
	border-top: 1px solid lightgrey;
	border-bottom: 1px solid lightgrey;
	padding: 5px 20px;
}

.next {
	border: 1px solid lightgrey;
	border-radius: 0 5px 5px 0;
	padding: 5px;
}

.prev {
	border: 1px solid lightgrey;
	border-radius: 5px 0 0 5px;
	padding: 5px;
}

.post {
	margin: 10px 0;
}

.post .date {
	color: #aaa;
}

.post .job-title {
	text-decoration: none;
	color: blue;
	font-weight: bold;
	margin: 0 5px;
}

.post .location {
	color: #aaa;
}


@media (max-width: 729px) {
	.search {
		width: 80%;
	}
}


